body {
	background-color: #e2e2e2;
}

textarea {
	resize: none;
	overflow: auto;
	background-color: black;
	color: #5fcc96;
	padding-left: 10px;
	font-family: 'Ubuntu Mono', monospace;
}

.hightlightText {
	font-family: 'courier new';
	color: #00698c;
	background-color: #dddddd;
	padding: 4px;
}
